%section.index
  .container
    .logo
      %a(href="#") 
        %span SHITEI by sushihome
        = image_tag("index/logo.png")
    
    .choose
      = image_tag("index/elegi-sucursal.png")
      = image_tag("index/elegi-sucursal-mobile.png", :class=>"mobile")
    
    %ul.places
      %li.moreno
        %a(href="#") 
          = image_tag("index/moreno.png")
          = image_tag("index/moreno-mobile.png", :class=>"mobile")
      %li.pellegrini
        %a(href="#") 
          = image_tag("index/pellegrini.png")
          = image_tag("index/pellegrini-mobile.png", :class=>"mobile")
      %li.funes
        %a(href="#") 
          = image_tag("index/funes.png")
          = image_tag("index/funes-mobile.png", :class=>"mobile")
          